
<h1>Editing budget</h1>

<div class="container">
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">
			<%= simple_form_for [@budget] do |f| %>
			  <%= f.input :name, label: "Budget name"  %>
			  <%= f.input :description  %>
			  <%= f.input :start_date  %>
			  <%= f.input :end_date  %>
			  <%= f.input :amount_cents  %>
			  <%= f.input :category_list ,as: :radio_buttons, collection:["Food & Drink","Bills & Fees", "Car", "Education", "Transport", "Clothes", "Home", "Entertainment","Healthcare"] %>
			  <%= f.submit %>
			<% end %>
			
		</div>
	</div>
</div>

<%= link_to 'Show', @budget %> |
<%= link_to 'Back', budgets_path %>