<div class="container">
	<div class="row">
		<div class="col col-xs-12 budget-form">
			<%= simple_form_for [@budget] do |f| %>
        <%= f.input :amount_cents, label: 'How much do you want to spend?', error: 'This field is mandatory',  placeholder: 'Enter the amount'  %>
			  <%= f.input :description, label: false, placeholder: 'Description'  %>
			  <%= f.input :start_date, as: :string, label: 'Starting date', input_html: { id: "range_start" }  %>
			  <%= f.input :end_date, as: :string, label: 'Ending date', input_html: { id: "range_end" }  %>

			  <%= f.input :category_list,  as: :radio_buttons, input_html: {class: "hide-checkbox"},label_html: {style: "width: auto; min-width:0;"}, label: 'Choose a category:', collection: @categories.map { |e| [image_tag(e.photo),e] } %>
			  <%= f.button :submit, "Add", class: "add-button" %>
			<% end %>
		</div>
	</div>
</div>

