=
<div class="container main-dashboard">
  <div class="row">
    <%= pie_chart current_user.cash_flows.group(:budget).count%>
      <div class="col-xs-6 col-sm-6">
        <div class="card">
          <div class="card-category">Balance
            <div class="card-description">
              <h2>$ <%= current_user.balance %></h2>
              <p></p>
            </div>
          </div>
        </div>
      </div>

    <div id="bar-2" class="bar-main-container emerald">
      <div class="wrap">
        <div class="bar-percentage" data-percentage="94"></div>
        <div class="bar-container">
          <div class="bar"></div>
        </div>
      </div>
    </div>

      <div class="col-xs-6 col-sm-6">
        <div class="card">
          <div class="card-category">the first goal</div>
            <div class="card-description">
              <h2>$ <%= @user_goal.amount_cents%></h2>
              <h2>% <%= (current_user.balance.to_f / @user_goal.amount_cents.to_f)* 100 %></h2>
              <p></p>
            </div>
          </div>
        </div>
      </div>
  </div>
<br>

    <p>My Budgets</p>
<div class="row dash-budgets">
  <% @budgets.each do |budget| %>
  <div class="button-listener">
    <%= render 'components/budget_cards', budget: budget %>
      <div class="dropdown-content hidden">
        <%= render 'budgets/show', budget: budget %>
      </div>
    </div>
    <%end%>
</div>

<script>
buttons = document.querySelectorAll('.button-listener');
console.log(buttons);

buttons.forEach((element)=> {
 element.addEventListener("click", ()=> {
 // console.log(element);
 content =  element.querySelector('.dropdown-content');
 content.classList.toggle('hidden');
 });
})

</script>
