
<div class="container main-dashboard">
  <div class="row">
    <%= pie_chart current_user.cash_flows.group(:budget).count%>
      <div class="col-xs-6 col-sm-6">
        <div class="card">
          <div class="card-category">Balance
            <div class="card-description">
              <h2>$ <%= current_user.balance %></h2>
              <p></p>
            </div>
          </div>
        </div>
      </div>

    <div id="bar-2" class="bar-main-container emerald">
      <div class="wrap">
        <div class="bar-percentage" data-percentage="94"></div>
        <div class="bar-container">
          <div class="bar"></div>
        </div>
      </div>
    </div>

      <div class="col-xs-6 col-sm-6">
        <div class="card">
          <div class="card-category">the first goal</div>
            <div class="card-description">
              <h2>$ <%= @user_goal.amount_cents%></h2>
              <h2>% <%= (current_user.balance.to_f / @user_goal.amount_cents.to_f)* 100 %></h2>
              <p></p>
            </div>
          </div>
        </div>
      </div>
  </div>
<br>
    <ul>
    <h2>My Budgets</h2>
    <% @budgets.each do |budget| %>
    <% category = Category.find(budget.category_id) %>
          <li class="baige-big"><a href="#Home"><%= image_tag(category.photo) %></a></li>
    				<li><%= budget.amount_cents %></li>
    				<li><%= link_to 'Show', budget %></li>
    		     <li><%= link_to 'Edit', edit_budget_path(budget) %></li>
    <% end %>
    </ul>
</div>

