


    <div class="xs-6 col-xs-offset-3 image_goal">
    <%= image_tag(@giphy_url.to_s) %>
    </div>



    <div id="bar-2" class="bar-main-container emerald">
      <div class="goal_name">
         <span>saved towards your <%= @goal.name %></span>
      </div>
      <div class="wrap">
        <div class="bar-percentage" data-percentage= <%= @goal_percent + 1 %> ></div>
        <div class="bar-container">
          <div class="bar"></div>
        </div>
      </div>
    </div>

 <!--      <div class="col-xs-6 col-sm-6">
        <div class="card">
          <div class="card-category">the first goal</div>
            <div class="card-description">
              <h2>$ <%= @user_goal.amount_cents%></h2>
              <p></p>
            </div>
          </div>
        </div> -->

<div class="budget-title">

    <p>My Budgets</p>

</div>
<div class="row dash-budgets">
  <% @budgets.each do |budget| %>
  <% @cash_flows = CashFlow.where(budget_id: budget.id)%>
  <div class="button-listener">
    <%= render 'components/budget_cards', budget: budget %>
      <div class="dropdown-content hidden">
        <%= render 'budgets/show', budget: budget, cash_flows: @cash_flows %>
      </div>
    </div>
    <%end%>
</div>





