<div class="footer">
  <%= link_to root_path, class: "homepage-link" do %>
    <div class="icon-home">
      <%= image_tag "home.png", height: 40 %>
    </div>

  <% end %>

  <%= link_to new_budget_cash_flow_path(:budget_id), class: "expense-new-link" do %>
    <div class="icon-add">
      <%= image_tag "add.png", height: 40 %>
    </div>

  <% end %>

  <%= link_to new_budget_path, class: "budget-new-link" do %>
    <div class="icon-budgets">
      <%= image_tag "budgets.png", height: 40 %>
    </div>

  <% end %>

</div>
